.App {
  text-align: center;
}

.App-Header {
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  height: 10vh;
  text-align: center;
}

.App-Body {
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  min-height: 85vh;
}

.App-Footer {
  background-color:  #282c34;
  color: white;
  height: 10vh;
}

.Fighter-Stats-Zone {
  display:flex;
}

.Fighter-Prop-Names {
  width: 40%;
}

.Fighter-Props {
  width: 30%;
  height: 100%;
}