:root {
  --base00: #2d2d2d;
  --base01: #393939;
  --base02: #515151;
  --base03: #747369;
  --base04: #a09f93;
  --base05: #d3d0c8;
  --base06: #e8e6df;
  --base07: #f2f0ec;
  --base08: #f2777a;
  --base09: #f99157;
  --base0a: #ffcc66;
  --base0b: #99cc99;
  --base0c: #66cccc;
  --base0d: #6699cc;
  --base0e: #cc99cc;
  --base0f: #d27b53;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: var(--base00);
}

a {
  color: var(--base0d);
  text-decoration: none;
}

.App {
  text-align: center;
}

.App-Header {
  background-color: var(--base01);
  color: var(--base07);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6rem;
}

.Header-Salt-Icon {
  max-width: 4rem;
  max-height: 4rem;
  margin-block: auto;
  margin-inline: 3rem;
}

.App-Title {
  color: var(--base07);
}


.App-Body {
  background-color: var(--base00);
  color: var(--base07);
  max-width: 40rem;
  min-height: 80vh;
  margin-inline: auto;
}

.App-Footer {
  background-color: var(--base01);
  color: var(--base03);
}

.Mode-Phase-Display {
  color: var(--base04);
  margin-bottom: 0;
}

.Fighter-Comparison {
  display: grid;
  grid-gap: 10px;
}

.Fighter-Comparison-Header {
  margin: 0;
  display: grid;
  grid-template-columns: minmax(4rem, 12rem) 10rem minmax(4rem, 12rem); 
  grid-template-rows: 1fr;
  align-items: center;
  justify-content: center;
}
.Fighter-Name {
  overflow-wrap: normal;
  margin: 0;
}
.Red-Fighter-Name {
  color: var(--base08);
}
.VS {
  color: var(--base0a);
  margin: 0;
}
.Blue-Fighter-Name {
  color: var(--base0d);
  margin: 0;
}

.Fighter-Comparison-Element {
  display: grid;
  grid-template-columns: minmax(4rem, 12rem) 10rem minmax(4rem, 12rem); 
  grid-template-rows: 1fr;
  align-items: center;
  justify-content: center;
}

.Saltybet-Message {
  margin-top: 1rem;
  margin-inline: 1rem;
  color: var(--base0b);
  font-weight: bold;
}